h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.orange {
    color: orange;
    text-shadow: 5px -10px 4px orangered;
}

.flexible-content {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 80%;
    padding-left: 5%
}

.half-width img {
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
}

.link-button {
    background-image: linear-gradient(red, orangered);
    padding: 5px 12px 5px 12px;
    border-radius: 8px;
    font-size: large;
    font-weight: 900;
    text-decoration: none;
}

#heading {
    padding-left: 70px;
}

.box-shadow {
    width: 90%;
    padding: 4%;
    margin: 60px 60px;
    box-shadow: 10px 10px 40px gray;

}

#web-develop {
    border-left: 10px solid;
    border-image: linear-gradient(salmon tomato));
    border-image-slice: 1;
}

#web-color {
    border-left: 10px solid;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
}